@model bys.activity.dal.ActivityType

@{
    ViewBag.Title = "Create Activity";
}
<br />
<h2>create a activity type</h2>

@using (Html.BeginForm("Submit", "ActivityType", FormMethod.Post, new { enctype = "multipart/form-data", id = "CreateForm", @class = "form-horizontal" }))
{

    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control required", @placeholder = "activity type name" })
        </div>
    </div>

    <div class="form-group">
        <label for="inputAddress" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-8">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "description", @rows = "3" })
        </div>
    </div>

    <div class="form-group">
        <label for="inputDetail" class="col-sm-2 control-label">PosterImagePath</label>
        <div class="col-sm-8">
            @Html.TextAreaFor(model => model.PosterImagePath1, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
}


<script>
    $("#CreateForm").validate({
        errorPlacement: function (error, element) {
        }
    });
</script>